# Linguist overrides

*.md linguist-detectable=true
*.gitattributes linguist-detectable=true
*.md linguist-language=Markdown
*.md linguist-documentation=false

# README.md linguist-detectable=false
# readme.md linguist-detectable=false
